body {
	color: white;
	font-family: verdana;
/*	background-image: url("https://s.aolcdn.com/hss/storage/midas/7d48de207b934a3e3a63e2aab34d2d09/205858706/lord_of_the_rings.jpg");*/
	background-image: url("https://timedotcom.files.wordpress.com/2015/07/the-lord-of-the-rings-the-return-of-the-king.jpg");
        background-size: cover;
}
h3 {
	font-family: Verdana;
	text-align: center;
	font-size:250%;
	text-shadow:5px 5px gray;
	/**text-decoration: underline;**/
	text-transform: uppercase;
}
h2 {
	font-family: Verdana;
	text-align: center;
	font-size:250%;
	text-shadow:3px 3px gray;
}

td{
	border: 1px solid gray;
}
table {
	color: white;
	font-family: Verdana;
	text-align: center;
}
